<%= render "shared/banner_instructional" %>

<div class="container">
  <h1>New Booking</h1>
  <%= render 'form', booking: @booking, surfboard: @surfboard %>

  <%= link_to 'Back', bookings_path %>

</div>
