<div class="banner_half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/533509/pexels-photo-533509.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Here are your Results, Dude!</h1>
    <p>Hope we were Hella Helpful Here, if not give it another Search broskie!</p>
    <%= render 'shared/search_form' %>
  </div>
</div>
