<div class="banner_half" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/533509/pexels-photo-533509.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h1>Here are your Results, Dude!</h1>
    <p>Hope we were Hella Helpful Here, if not give it another Search broskie!</p>

    <form class="form-inline">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Bondi Beach</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
       <input type="date" name="bday" max="3000-12-31"
              min="1000-01-01" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary mb-2">Find my Board</button>
    </form>
  </div>
</div>
