<div class="col-md-3">
  <div class="card" style="background-image: linear-gradient(rgba(127,27,253,0.1), rgba(75,34,241,0.2)), url('https://img.cleanlinesurf.com/catalog/product/cache/1/image/650x650/9df78eab33525d08d6e5fb8d27136e95/l/i/lib5912140_2.jpg')">
    <div class="card-description">
      <div class="content">
        <h2>$25/h</h2>
      </div>
    </div>
    <a class="card-link" href="#"></a>
  </div>
</div>
