<form action="/surfboards" method="get" class="form-inline">

      <div class="form-group">

        <%= select_tag "filters[beach]", options_from_collection_for_select(@beaches, "id", "name", selected: params[:filters][:beach]), class: "form-control" %>

      </div>
      <div class="form-group">
        <%= date_field_tag "filters[date]", params[:filters][:date], class: 'form-control', min: Date.today %>
      </div>

      <input type="submit" class="btn btn-primary">
    </form>
